<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign-Up</h1>
                    <h6>Please Register User Details !!!</h6>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label for="exampleInputfullname" class="form-label">Full Name</label>
                        <input formControlName="fullname" type="text" class="form-control" id="exampleInputfullname">
                        <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">*Full Name Is Required</span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputmobnumber" class="form-label">Mobile Number</label>
                        <input formControlName="mobile" type="number" class="form-control" id="exampleInputmobnumber">
                        <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">*Mobile Number Is Required</span>
                    </div>  
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email ID Is Required</span>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                      <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password Is Required</span>
                    </div>                    
                    <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign Up</button>                    
                  </form>
                  <a style="color: #fff; margin-top: 10px;" routerLink="/login">Already Registered ? Click To LogIn.</a>
            </div>
        </div>
    </div>
</div>
